<!--
  Generated template for the ItinerarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Itinerario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!--<ion-card *ngFor="let fecha of fechasMovimientos">-->
    <ion-card>
      <ion-card-header>
        <!--Última Actualización: {{ fecha | date: 'dd/MM/yyyy'}}-->
        Reserva
      </ion-card-header>
      <ion-card-content paddding>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="http://192.168.19.86/backend/web/uploads/images/lugar/5929d53e19743_30938159.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 style="text-align: center; font-weight: bold;">
                Iguazu Grand Hotel
              </h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Desde: 01/01/2018</ion-col>
            <ion-col>Hasta: 15/01/2018</ion-col>
          </ion-row>
          <!--<ion-row *ngFor="let movimiento of movimientos_ordenados[fecha]">
            <ion-col col-2>{{ movimiento.creado | date:'H:m'}}</ion-col>
            <ion-col col-5>{{ movimiento.destino.nombre}}</ion-col>
            <ion-col col-5>{{ movimiento.usuarioRecibe.nombre}} {{ movimiento.usuarioRecibe.apellido}}</ion-col>
          </ion-row>-->
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Actividades
      </ion-card-header>
      <ion-card-content paddding>
        <ion-grid>
          <ion-row>
            <ion-col>Dia: 03/01/2018</ion-col>
            <ion-col>Hora: 09:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="http://192.168.19.86/backend/web/uploads/images/lugar/5929bc92c0743_9abc194b56.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 style="text-align: center; font-weight: bold;">
                Parque Nacional Iguazú
              </h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Dia: 05/01/2018</ion-col>
            <ion-col>Hora: 18:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="http://192.168.19.86/backend/web/uploads/images/lugar/592af84cafcf5_el-duty-free-shop-puerto-iguazu-volvio-a-ser-premiado-como-el-mejor-del-mundo.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 style="text-align: center; font-weight: bold;">
                Duty Free Shop Puerto Iguazú
              </h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Dia: 07/01/2018</ion-col>
            <ion-col>Hora: 21:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="http://192.168.19.86/backend/web/uploads/images/lugar/5929e0972f50b_2017-03-23.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 style="text-align: center; font-weight: bold;">
                El Quincho del Tio Querido
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  <button ion-button full color="danger" (click)="irAConfirmacion()">Confirmar!</button>
  <ion-fab right bottom>
        <button (click)="comoLlegar()" ion-fab color="danger">
            <ion-icon name="map"></ion-icon>
        </button>
    </ion-fab>
  
</ion-content>
